<div>
    <div class="text-right">
        <a class="btn btn-link mr-1" href="/#/new">Add new</a>    
        <a class="btn btn-link mr-1" ng-href="/#/edit/{{ selected }}">Edit</a>
        <button class="btn btn-link" ng-click="deleteMedication(selected)">Delete</button>
    </div>
    <table class="table table-striped table-unbordered">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>            
                <th class='text-center'>Unit</th>        
                <th>Orientation</th>
                <th class="text-center">Qt.</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items track by $index" ng-if="item">
                <td><input type="checkbox" ng-change="onSelect($index, isSelected)" ng-model="isSelected"></td>
                <td> 
                    {{ item.name }}
                </td>
                <td class="text-center">        
                    {{ item.unitMeasurement.label }}
                </td>
                <td>        
                    {{ item.orientation }}
                </td>
                <td class="text-center">
                
                    <div class="btn-group btn-group-sm" role="group">                           
                        <button class="btn btn-link font-weight-bold" ng-click="decrement($index)">-</button>
                        <span class="mx-2 mt-1">{{ item.quantity }}</span>
                        <button class="btn btn-link font-weight-bold" ng-click="increment($index)">+</button>
                    </div> 
                </td>
            </tr>
        </tbody>
    </table>
</div>